@using Newtonsoft.Json.Linq
@model JObject
@* <select asp-for="ProvinceID" class="form-control">

</select> *@

<h2>Chọn Quận, Huyện</h2>
<form asp-action="GetWard" method="post">
    <div class="form-group">
        <label for="provinceSelect">Quận, Huyện:</label>
        <select class="form-control" id="provinceSelect" name="id">
            <option value="">-- Chọn Quận, Huyện --</option>
            @foreach (var item in Model["data"])
            {
                <option value="@item["DistrictID"]">@item["DistrictName"]</option>
            }
        </select>
    </div>
    <button class="btn btn-success mt-3" type="submit">Gửi</button>
</form>
