@using Newtonsoft.Json.Linq
@model JObject
@* <select asp-for="ProvinceID" class="form-control">

</select> *@

<h2>Chọn thành phố</h2>
<form asp-action="GetDistrict" method="post">
    <div class="form-group">
        <label for="provinceSelect">Tỉnh:</label>
        <select class="form-control" id="provinceSelect" name="id">
            <option value="">-- Chọn tỉnh --</option>
            @foreach (var item in Model["data"])
            {
                <option value="@item["ProvinceID"]">@item["ProvinceName"]</option>
            }
        </select>
    </div>
    <button class="btn btn-success mt-3" type="submit">Gửi</button>
</form>
